In [1]:
# import pandas module
# import os module
import pandas as pd
import os
import pickle

In [2]:
# Define a file path (using os module) pointing to the pickled file from Exercise 1
# Create a Pandas DataFrame from the pickled file. Use the file path as an argument.

file_path = os.path.join('./data/' + 'listed_locations_data_frame.pickle')
file_path

df = pd.read_pickle(file_path)

In [3]:
# Display the DataFrame

df

,mindate,maxdate,name,datacoverage,id,source
0,1994-12-15,2021-11-17,"Boston, MA 02118",0.9500,ZIP:02118,listed_locations9.json
1,1994-12-15,2021-11-17,"Roxbury, MA 02119",0.9500,ZIP:02119,listed_locations9.json
2,1994-12-15,2021-11-17,"Roxbury Crossing, MA 02120",0.9500,ZIP:02120,listed_locations9.json
3,1994-12-15,2021-11-17,"Dorchester, MA 02121",0.9500,ZIP:02121,listed_locations9.json
4,1994-12-15,2021-11-17,"Dorchester, MA 02122",0.9980,ZIP:02122,listed_locations9.json
...,...,...,...,...,...,...
38857,1994-12-15,2021-11-17,"Bruceville, TX 76630",0.9994,ZIP:76630,listed_locations32.json
38858,1994-12-15,2021-11-17,"Bynum, TX 76631",0.9500,ZIP:76631,listed_locations32.json
38859,1940-01-01,2021-11-17,"Chilton, TX 76632",1.0000,ZIP:76632,listed_locations32.json
38860,1994-12-15,2021-11-17,"China Spring, TX 76633",1.0000,ZIP:76633,listed_locations32.json
38861,1911-02-01,2021-11-17,"Clifton, TX 76634",1.0000,ZIP:76634,listed_locations32.json